# Ignore version control
.git
.gitignore

# Ignore documentation
docs/

# Ignore deployment configs
deployment/

# Ignore editor & build artifacts
*.log
*.tmp
*.swp
*.out
*.DS_Store
.vscode/
.idea/

# Ignore test binaries (if any)
bin/
test/
coverage.out

# Ignore Helm charts and YAMLs not needed at runtime
*.yaml
*.yml

# Docker itself
Dockerfile
.dockerignore
